
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

} */

html,
body {
  max-width: 100%;
}

body{
  background-color: #78f7e5;
}

body {
  background: #1f2a31;
  background-image: url("../assets/images/maybe.png");
  background-size: cover;
  background-repeat: no-repeat repeat-y;
  background-position: center center;

}


.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.welcome-p{
  margin: 30px ;
  max-width: 60%;
}


.tabs-form-row{
  width: 100%;
  margin: 50px auto 50px auto;
}

.inputForm {
  width: 100%;
}

.extra-note{
  margin-top: 40px;
}

.generator-button{
  margin-top: 30px;
  background-color: #da9036;
  border: white solid 1px;
}

.generator-button:hover{
  background-color: #33640b ;
  border: white solid 1px;
}

.generator-button:disabled{
  background-color: #33640b ;
  border: white solid 1px;
}

.tab-column{
  background-color: #1f2429;
  border-radius: 30px;
  padding: 10px ;
  border: #d45f00 solid 2px;
  box-shadow: 2px 2px 2px 2px #1f2429;
  /* height: 420px; */
  overflow-y: auto; /* add scrollbar if content exceeds the height */


}
.tab-item{
  width: 100%;
  border-radius: 30px;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #788ea6;
  box-shadow:1px 1px 1px 1px #282828;
  font-size: large;

}

.universal-item{
  background-color: #ffbe1b;
}
.vegan-item{
  background-color: #d45f00;
}
.mediterranean-item{
  background-color: #6b993b;
}
.mexican-item{
  background-color: #12ccb0 ;
}
.indian-item{
  background-color: #1f59aa;
}
.chinese-item{
  background-color: #7e12cc ;
}



.item-link{
  color: white;
  font-size: 90%;
  font-weight: bolder;
  letter-spacing: 1px;
  text-decoration: underline;
}
.item-link:hover{
  color: black;
}

.generated-recipe{
  padding-left:20px ;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;

}
.recipe-header-text{
  color: #da9036;

}
.songs-header-text{
  color: #da9036;
  margin-bottom: 30px;
}
.generated-songs{
  padding-left:20px ;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.nutrition-info{
  margin-top: 340px;
  margin-bottom: 50px;
}

.footer-card{
  background-color: transparent;
  color: black;
}




